:root {
  --light-neutral: #556;
  --light-paused: #666;
  --light-session: hsl(198, 66%, 53%);
  --light-break: hsl(198, 19%, 65%);
  --light-back: #fff;

  --dark-neutral: #ccc;
  --dark-paused: #bbb;
  --dark-session: #598cd9;
  --dark-break: hsl(0, 0%, 51%);
  --dark-back: #002;
}

@media only screen and (max-width: 320px) {
  #timer-box,
  #time-toggles {
    width: 80vw !important;
    border: none !important;
  }

  #time-left {
    font-size: 60px !important;
    margin-bottom: 20px;
  }

  #timer-label {
    font-size: 18px !important;
    margin-bottom: 10px;
  }

  #timer {
    flex-direction: column-reverse !important;
    gap: 60px;
  }

  #session-label,
  #break-label {
    display: none;
  }

  #timer-box.minimal #time-left {
    font-size: 30vw !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
  #timer-box,
  #time-toggles {
    width: 300px !important;
  }

  #timer-box {
    padding: 20px !important;
  }

  #timer-label {
    font-size: 20px !important;
  }

  #time-left {
    font-size: 80px !important;
    margin-top: -10px;
    margin-bottom: 3px;
  }

  #timer-box.minimal #time-left {
    font-size: 30vw !important;
  }
}

body {
  font-family: "Nunito", sans-serif;
}

#container {
  width: 100%;
  height: 100vh;
  transition: color 2s;
  transition: background-color 2s;
}

#container.light {
  background-color: var(--light-back);
}

/*#container.light.minimal.session {
    background-color: var(--light-minimal-session) !important;
  }
  
  #container.light.minimal.break {
    background-color: var(--light-break) !important;
  }
  
  #container.light.minimal.session #time-left,
  #container.light.minimal.session i,
  #container.light.minimal.break #time-left,
  #container.light.minimal.break i {
    color: var(--dark-neutral) !important;
  }*/

#container.dark {
  background-color: var(--dark-back);
}

/*#container.dark.minimal.session {
    background-color: var(--dark-session) !important;
  }
  
  #container.dark.minimal.break {
    background-color: var(--dark-break) !important;
  }
  
  #container.dark.minimal.session #time-left,
  #container.dark.minimal.session i,
  #container.dark.minimal.break #time-left,
  #container.dark.minimal.break i {
    color: var(--dark-neutral) !important;
  }*/

#container.light #timer-box {
  border-color: var(--light-paused) !important;
}

#container.dark #timer-box {
  border-color: var(--dark-paused) !important;
}

#container.light #time-toggles,
#container.light i,
#container.light p,
#container.light a,
#container.light #title {
  color: var(--light-neutral) !important;
}

#container.dark #time-toggles,
#container.dark #title,
#container.dark p,
#container.dark a,
#container.dark i {
  color: var(--dark-neutral) !important;
}

#header > * {
  position: fixed;
}

#title {
  position: fixed;
  top: 18px;
  left: 28px;
}

#head-toggles {
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#mode-toggle {
  margin-top: -5px;
  font-size: 25px;
}

#minimalist-toggle {
  font-size: 20px;
}

#close-btn {
  font-size: 30px;
  margin-left: -5px;
}

#timer {
  height: 100vh;
  width: 100vw;
  transition: opacity 0.5s;
  opacity: 1;
}

#timer.unloaded {
  opacity: 0;
}

#load-symbol {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#time-toggles {
  padding-bottom: 10px;
  margin-top: -50px !important;
}

#session-length,
#break-length {
  padding: 0px 8px;
}

#time-toggles,
#timer-box,
#signature {
  width: 400px;
  margin: 0 auto;
}

#session-toggles {
  margin-left: 10px;
}

#break-toggles {
  margin-right: 10px;
}

#timer-box {
  padding: 30px;
  border: 0.5px solid #666;
  border-radius: 30px;
  transition: color 2s;
}

#timer-box.minimal {
  border: none !important;
}

#timer-box.minimal #time-left {
  font-size: 120px;
}

#timer-label {
  font-size: 25px;
  border-bottom: 0.5px solid #666;
}

#time-left {
  font-size: 100px;
}

#timer-label,
#time-left {
  transition: color 0.5s;
}

#container.session.light #timer-label,
#container.session.light #time-left {
  color: var(--light-session) !important;
  border-bottom-color: var(--light-session) !important;
}

#container.session.dark #timer-label,
#container.session.dark #time-left {
  color: var(--dark-session);
  border-bottom-color: var(--dark-session) !important;
}

#container.break.light #timer-label,
#container.break.light #time-left {
  color: var(--light-break);
  border-bottom-color: var(--light-break) !important;
}

#container.break.dark #timer-label,
#container.break.dark #time-left {
  color: var(--dark-break);
  border-bottom-color: var(--dark-break) !important;
}

#container.light .paused {
  color: var(--light-paused) !important;
  border-bottom-color: var(--light-paused) !important;
}

#container.dark .paused {
  color: var(--dark-paused) !important;
  border-bottom-color: var(--dark-paused) !important;
}

#timer-buttons {
  margin-top: -20px;
  width: 100%;
  gap: 20px;
}

#timer-buttons {
  font-size: 20px !important;
}

.play {
  margin-right: -9px;
}

#start_stop {
  margin-left: -9px;
  margin-right: -8px;
}

#start_stop:hover,
#start_stop:hover > *,
.bi:hover {
  cursor: pointer;
  opacity: 0.75;
}

#signature {
  text-align: right;
  padding-right: 12px;
  font-size: 15px;
  line-height: 1.2em;
  padding-top: 10px;
  opacity: 0.75;
}
